@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');

body {
  font-family: 'Inter', sans-serif;
  margin: 0;
  background: #1C1C1C;
  color: #DCDCDC;
}

.container {
  width: 550px;
  height: 868px;
  background: #23252C;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}

.card {
  background: #1A1B21;
  width: 317px;
}

.headshot {
  width: 317px;
  height: 317px;
} 

.name {
  color: #FFFFFF;
  text-align: center;
  font-size: 25px;
  font-weight: 700;
  padding: 15px 0 6px 0;
}

.title {
  color: #F3BF99;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  padding-bottom: 8px;
}

h1, h2, h3, h4, p {
  margin: 0;
  padding: 0;
}

a, a:link, a:visited {
  text-decoration: none;
}

.website {
  color: #F5F5F5;
  text-align: center;
  font-size: 12px;
  font-weight: 400;
}

.website a:visited {
  color: #F5F5F5;
}

.info-links {
  display: flex;
  justify-content: space-around;
  padding: 15px 0;
  margin-left: 30px;
  margin-right: 30px;
}

.info-links p {
  padding: 9px 13px 9px 11px;
  border-radius: 6px;
  text-align: center;
  font-weight: 500;
  width: 90px;
}

.email-link {
  background: #FFFFFF;
  color: #374151
}

.email-link a:link, a:visited {
  color: #374151
}

.linkedin-link {
  background: #5093E2;
  color: #FFFFFF;
}

.linkedin-link a:link, a:visited {
  color: #FFFFFF;
}

.section-title {
  color: #F5F5F5;
  font-size: 16px;
  font-weight: 700;
  line-height: 150%;
  padding: 0 0 0 36px;
}

.section-paragraph {
  color: #DCDCDC;
  font-size: 10.24px;
  font-weight: 400;
  line-height: 150%;
  padding: 0 36px 20px 36px;
  text-align: left;
}

footer {
  width: 317px;
  height: 64px;
  background: #161619;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}